# while loop

In [1]:
name = ['thors','thorkell','thorfinn','thorgill']
name

['thors', 'thorkell', 'thorfinn', 'thorgill']

In [2]:
i=0
while i < len(name):
    print(name[i])
    i+=1

thors
thorkell
thorfinn
thorgill

In [3]:
# list comprehension

# we can also write single line code to print the element of 

[print(i) for i in name]

thors
thorkell
thorfinn
thorgill

[None, None, None, None]

In [4]:
name

['thors', 'thorkell', 'thorfinn', 'thorgill']

### List comprehension

In [5]:
# List Comprehnesion is a shortest way to perform  task on list 
name

['thors', 'thorkell', 'thorfinn', 'thorgill']

In [6]:
name.extend(["peter","meg","louis","stuiwe"])
name

['thors',
 'thorkell',
 'thorfinn',
 'thorgill',
 'peter',
 'meg',
 'louis',
 'stuiwe']

In [7]:
# print all the name where name is start with T
new_list=[x for x in name if "t" in x]
print(new_list)

['thors', 'thorkell', 'thorfinn', 'thorgill', 'peter', 'stuiwe']

In [8]:
# print all the name except peter
new_list1= [x for x in name if x != "peter"]
print(new_list1)

['thors', 'thorkell', 'thorfinn', 'thorgill', 'meg', 'louis', 'stuiwe']

### creating a list using list comprehnesion

In [9]:
my_num_list =[x for x in range(10) if x < 5]
print(my_num_list)

[0, 1, 2, 3, 4]

# Sort

In [10]:
# we can sort the list with the help of sort function
list_num =[34,4,5,34,63,56,7,756,78,56,5685,88,5,65,3,56,36,5632,6,5326,56,5,26,356,346]

In [11]:

list_num.sort()

In [12]:
list_num

[3,
 4,
 5,
 5,
 5,
 6,
 7,
 26,
 34,
 34,
 36,
 56,
 56,
 56,
 56,
 63,
 65,
 78,
 88,
 346,
 356,
 756,
 5326,
 5632,
 5685]

In [13]:
list_num.sort(reverse=True)
list_num

[5685,
 5632,
 5326,
 756,
 356,
 346,
 88,
 78,
 65,
 63,
 56,
 56,
 56,
 56,
 36,
 34,
 34,
 26,
 7,
 6,
 5,
 5,
 5,
 4,
 3]

In [14]:
list_num

[5685,
 5632,
 5326,
 756,
 356,
 346,
 88,
 78,
 65,
 63,
 56,
 56,
 56,
 56,
 36,
 34,
 34,
 26,
 7,
 6,
 5,
 5,
 5,
 4,
 3]

In [15]:
print(list_num)

[5685, 5632, 5326, 756, 356, 346, 88, 78, 65, 63, 56, 56, 56, 56, 36, 34, 34, 26, 7, 6, 5, 5, 5, 4, 3]

In [16]:
print(list_num.reverse())

None

In [17]:
name

['thors',
 'thorkell',
 'thorfinn',
 'thorgill',
 'peter',
 'meg',
 'louis',
 'stuiwe']

In [19]:
new_list =[]
for names in name:
    if 'e' in names:
        new_list.append(names)

print(new_list)

['thorkell', 'peter', 'meg', 'stuiwe']

## reversing the list

In [20]:
name

['thors',
 'thorkell',
 'thorfinn',
 'thorgill',
 'peter',
 'meg',
 'louis',
 'stuiwe']

In [21]:
name.reverse()

In [22]:
name

['stuiwe',
 'louis',
 'meg',
 'peter',
 'thorgill',
 'thorfinn',
 'thorkell',
 'thors']